# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled files
*.o
*.ko
*.obj
*.elf

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.ilk

# Cache files
*.swp
*~
